// C O L O R S !
$color-primary: #FF403E;

$color-secondary: #0E1C2C;

$color-grey-light-1: #f0f0f0;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// F O N T Z !
$default-font-size: 1.5rem;

$font-primary: Poppins;

